%h2 
	Editing related requirements for:
	= @requirement.pretty_name

#addRequirementsDialog
	%h2 Add a NatLang Requirement
	= form_for [@requirement, @relation], html: {class: "form-horizontal"} do |f|
		= hidden_field_tag :type, :requirement
		= f.select :related_requirement_id, @requirements.collect {|r| ["#r.identification #{r.short_name}", r.id]}
		= f.submit "Add", class: "btn"

#addPLangRequirementDialog
	%h2 Add a PLang Requirement
	= form_for [@requirement, @relation], html: {class: "form-horizontal"} do |f|
		= hidden_field_tag :type, :p_lang_requirement
		= f.select :related_requirement_id, @p_lang_requirements.collect {|r| ["#{r.identification} #{r.tag}", r.id]}
		= f.submit "Add", class: "btn"

%h3 Existing relations
.row
	#related_requirements.span4
		%table.table.relations_table
			%thead
				%tr
					%th Name
					%th 
			- @relations.each do |r|
				%tr
					- requirement = r.get_related_requirement_for_requirement(@requirement)
					%td= requirement.pretty_name
					%td
						- path = @requirement.is_a?(Requirement) ? requirement_relation_path(@requirement, r) : p_lang_requirement_relation_path(@requirement, r)
						= link_to 'Remove', path, :method => :delete, class: [:btn, "btn-danger"]
= link_to "Back", @requirement, class: "btn top-margin"
