%h1 Listing requirements

%table.table.table-striped.table-bordered.clickableRows
  %tr
    %th Requirement id
    %th Description
    %th Rationale
    %th Originator
    %th Fit criterion
    %th Customer satisfaction
    %th Customer dissatisfaction
    %th Priority
    %th Author
    %th
    %th
    %th

  - @requirements.each do |requirement|
    %tr{data: {url: requirement_path(requirement)}}
      %td= link_to requirement.identification || "No id yet", requirement_path(requirement)
      %td= link_to requirement.description, requirement_path(requirement)
      %td= requirement.rationale
      %td= requirement.originator
      %td= requirement.fit_criterion
      %td= requirement.customer_satisfaction
      %td= requirement.customer_dissatisfaction
      %td= requirement.priority
      %td= requirement.author.email if requirement.author
      %td= link_to 'Show', requirement
      %td= link_to 'Edit', edit_requirement_path(requirement)
      %td= link_to 'Destroy', requirement, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Requirement', new_requirement_path, class: "btn btn-primary"
