%h2= "#{@requirement.pretty_name} in section: #{@requirement.section ? @requirement.section.name : "None"}" 

%table.table.table-hover
  %thead
    %tr
      %th.tag-column
        Tag
      %th
        Value
  %tbody
    %tr
      %td Identification
      %td= @requirement.identification
    %tr
      %td Short name
      %td= @requirement.short_name
    %tr
      %td Description
      %td= @requirement.description
    %tr
      %td Rationale
      %td= @requirement.rationale
    %tr
      %td Originator
      %td= @requirement.originator
    %tr
      %td Fit criterion
      %td= @requirement.fit_criterion
    %tr
      %td Customer satisfaction:
      %td= @requirement.customer_satisfaction
    %tr
      %td Customer dissatisfaction:
      %td= @requirement.customer_dissatisfaction
    %tr
      %td Priority:
      %td= @requirement.priority
    %tr
      %td Supporting materials:
      %td= @requirement.supporting_materials
    %tr
      %td History:
      %td= @requirement.history
    %tr 
      %td Dependencies
      %td
        - if @requirement.dependency
          = link_to @requirement.dependency.pretty_name, @requirement.dependency
    %tr 
      %td Related requirements
      %td
        - if @requirement.related
          %ul
            - for req in @requirement.related
              %li= link_to req.pretty_name, req
    %tr 
      %td Conflicting requirements
      %td
        - if @requirement.conflicting_requirements
          %ul
            - for req in @requirement.conflicting_requirements
              %li= link_to req.pretty_name, req

= link_to "Edit conflicts", requirement_conflicts_path(@requirement), class: "btn btn-danger"
= link_to 'Edit relations', requirement_relations_path(@requirement), class: "btn btn-primary"
= link_to 'Edit other', edit_requirement_path(@requirement), class: "btn btn-info"
= link_to 'Back', requirements_path, class: "btn"
