= "% -------------------------"
= "% Section: #{@section.name}"
= ""

- @requirements.each do |r|
	\\natlang
	= sanitize_string("\t{#{r.indentation}}")
	= sanitize_string("\t{#{r.identification}}").html_safe
	= sanitize_string("\t{#{r.short_name}}").html_safe
	= sanitize_string("\t{#{r.description}}").html_safe
	= sanitize_string("\t{#{r.rationale}}").html_safe
	= sanitize_string("\t{#{r.dependency ? r.dependency.identification : ""}}").html_safe
	= sanitize_string("\t{#{r.fit_criterion}}").html_safe
	= sanitize_string("\t{#{r.priority}}").html_safe