= "%%%%%%%%%%%%%%%%%%%%%%%%%%%%%"
= "% Section: #{@section.name}"
= ""

- @requirements.each do |r|
	\\natlang
	= "\t{#{r.indentation}}"
	= "\t{#{r.identification}}".html_safe
	= "\t{#{r.short_name}}".html_safe
	= "\t{#{r.description}}".html_safe
	= "\t{#{r.rationale.html_safe}}".html_safe
	= "\t{#{r.fit_criterion.html_safe}}".html_safe
	= "\t{#{r.priority.html_safe}}".html_safe