= form_for @p_lang_requirement do |f|
  -if @p_lang_requirement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@p_lang_requirement.errors.count, "error")} prohibited this p_lang_requirement from being saved:"
      %ul
        - @p_lang_requirement.errors.full_messages.each do |msg|
          %li= msg
  .row
    .span3
      .field
        = f.label :tag
        = f.text_field :tag
      .field
        = f.label :gist
        = f.text_area :gist, rows: "3"
      .field
        = f.label :stakeholder
        = f.text_area :stakeholder, rows: "3"
      .field
        = f.label :scale
        = f.text_area :scale, rows: "3"
      .field
        = f.label :meter
        = f.text_area :meter, rows: "3"
      .field
        = f.label :must
        = f.text_area :must, rows: "3"
      .field
        = f.label :plan
        = f.text_area :plan, rows: "3"
      .field
        = f.label :stretch
        = f.text_area :stretch, rows: "3"
    .span3
      .field
        = f.label :wish
        = f.text_area :wish, rows: "3"
      .field
        = f.label :past
        = f.text_area :past, rows: "3"
      .field
        = f.label :trend
        = f.text_area :trend, rows: "3"
      .field
        = f.label :record
        = f.text_area :record, rows: "3"
      .field
        = f.label :defined
        = f.text_area :defined, rows: "3"
      .field
        = f.label :authority
        = f.text_area :authority, rows: "3"
  .actions
    = f.submit 'Save'
