%h1 Listing PLang Requirements

%table.table.table-striped.table-bordered.clickableRows
  %tr
    %th Identification
    %th Tag
    %th Gist
    / %th Stakeholder
    %th Scale
    %th Meter
    %th Must
    %th Plan
    %th Stretch
    %th Wish
    %th Author
    / %th Past
    / %th Trend
    / %th Record
    / %th Defined
    / %th Authority
    / %th
    / %th
    %th

  - @p_lang_requirements.each do |p_lang_requirement|
    %tr{data: {url: p_lang_requirement_path(p_lang_requirement)}}
      %td= p_lang_requirement.identification
      %td= p_lang_requirement.tag
      %td= p_lang_requirement.gist
      / %td= p_lang_requirement.stakeholder
      %td= p_lang_requirement.scale
      %td= p_lang_requirement.meter
      %td= p_lang_requirement.must
      %td= p_lang_requirement.plan
      %td= p_lang_requirement.stretch
      %td= p_lang_requirement.wish
      %td= p_lang_requirement.author.email if p_lang_requirement.author
      / %td= p_lang_requirement.past
      / %td= p_lang_requirement.trend
      / %td= p_lang_requirement.record
      / %td= p_lang_requirement.defined
      / %td= p_lang_requirement.authority
      / %td= link_to 'Show', p_lang_requirement
      / %td= link_to 'Edit', edit_p_lang_requirement_path(p_lang_requirement)
      %td= link_to 'Destroy', p_lang_requirement, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New P lang requirement', new_p_lang_requirement_path

/ %h1 Listing requirements

/ %table.table.table-striped.table-bordered
/   %tr
/     %th Requirement id
/     %th Description
/     %th Rationale
/     %th Originator
/     %th Fit criterion
/     %th Customer satisfaction
/     %th Customer dissatisfaction
/     %th Priority
/     %th Author
/     %th
/     %th
/     %th

/   - @requirements.each do |requirement|
/     %tr
/       %td= link_to requirement.identification || "No id yet", requirement_path(requirement)
/       %td= link_to requirement.description, requirement_path(requirement)
/       %td= requirement.rationale
/       %td= requirement.originator
/       %td= requirement.fit_criterion
/       %td= requirement.customer_satisfaction
/       %td= requirement.customer_dissatisfaction
/       %td= requirement.priority
/       %td= requirement.author.email if requirement.author
/       %td= link_to 'Show', requirement
/       %td= link_to 'Edit', edit_requirement_path(requirement)
/       %td= link_to 'Destroy', requirement, :confirm => 'Are you sure?', :method => :delete

/ %br
