%p#notice= notice

%h1
  = @p_lang_requirement.identification

%table.table.table-hover
  %thead
    %tr
      %th.tag-column
        Tag
      %th
        Value
  %tbody
    %tr
      %td Tag
      %td= @p_lang_requirement.tag
    %tr
      %td Gist
      %td= @p_lang_requirement.gist
    %tr
      %td Stakeholder
      %td= @p_lang_requirement.stakeholder
    %tr
      %td Scale
      %td= @p_lang_requirement.scale
    %tr
      %td Meter
      %td= @p_lang_requirement.meter
    %tr
      %td Must
      %td= @p_lang_requirement.must
    %tr
      %td Plan
      %td= @p_lang_requirement.plan
    %tr
      %td Stretch
      %td= @p_lang_requirement.stretch
    %tr
      %td Wish
      %td= @p_lang_requirement.wish
    %tr
      %td Past
      %td= @p_lang_requirement.past
    %tr
      %td Trend
      %td= @p_lang_requirement.trend
    %tr
      %td Record
      %td= @p_lang_requirement.record
    %tr
      %td Defined
      %td= @p_lang_requirement.defined
    %tr
      %td Authority
      %td= @p_lang_requirement.authority
    %tr 
      %td Related requirements
      %td
        - if @p_lang_requirement.related
          %ul
            - for req in @p_lang_requirement.related
              %li= link_to req.pretty_name, req

=link_to "Edit relations", p_lang_requirement_relations_path(@p_lang_requirement), class: "btn btn-danger"
=link_to "Edit conflicts", p_lang_requirement_conflicts_path(@p_lang_requirement), class: "btn btn-primary"
= link_to 'Edit other', edit_p_lang_requirement_path(@p_lang_requirement), class: "btn btn-info"
= link_to 'Back', p_lang_requirements_path, class: "btn"
