%h1 Listing requirement_types

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @requirement_types.each do |requirement_type|
    %tr
      %td= requirement_type.name
      %td= link_to 'Show', requirement_type
      %td= link_to 'Edit', edit_requirement_type_path(requirement_type)
      %td= link_to 'Destroy', requirement_type, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Requirement type', new_requirement_type_path
