%h1 Listing NatLang Requirements Types

%table.table.table-striped.table-bordered
  %tr
    %th Short name
    %th Type
    %th
    %th
    %th

  - @requirement_types.each do |requirement_type|
    %tr
      %td= requirement_type.short_name
      %td= requirement_type.name
      %td= link_to 'Show', requirement_type, class: :btn
      %td= link_to 'Edit', edit_requirement_type_path(requirement_type), class: :btn
      %td= link_to 'Destroy', requirement_type, :confirm => 'Are you sure?', :method => :delete, class: :btn

%br

= link_to 'New Requirement type', new_requirement_type_path, class: "btn btn-primary"
