!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Requirements"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/favicon.ico" rel="shortcut icon")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")
    / Here be gon!
    = include_gon

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Require-a-tron", root_path, class: "brand"
          .container.nav-collapse
            %ul.nav
              %li= link_to "NatLang Requirements", requirements_path
              %li= link_to "NatLang Requirement types", requirement_types_path
              %li= link_to "PLang Requirements", p_lang_requirements_path
              %li= link_to "Sections", sections_path
              %li= link_to "CSV Importer", imports_new_path
              %li.pull-right= link_to "Sign out", destroy_user_session_path, method: :delete

    .container.main-content
      - if current_user
        .well= "Logged in as #{current_user.email}"
        - if notice
          %p.notice= notice
        - if alert
          %p.alert= alert
      = yield
      
      %footer.well
        %p &copy; Jesper Josefsson 2012
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
